@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF3800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #02284F;
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
    z-index: 10;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: #722ed1;
    /* purple color for arrows */
}

.slick-prev {
    left: -35px;
}

.slick-next {
    right: -35px;
}


.custom-toast {
    /* override additional styling */
    border: none;
    padding: 12px 16px;
}

.custom-toast-body {
    font-family: "YourBrandFont", sans-serif;
}

.custom-toast-progress {
    height: 4px;
    border-radius: 2px;
}

/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide number input spinners in WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


